In [8]:
import json
import pandas as pd

In [2]:
with open("/Users/ayushmunot/MercorTest/form-submissions.json") as f:
    data = json.load(f)

In [4]:
data[0].keys()

dict_keys(['name', 'email', 'phone', 'location', 'submitted_at', 'work_availability', 'annual_salary_expectation', 'work_experiences', 'education', 'skills'])

In [5]:
# Get all unique keys across all items
all_keys = set()
for item in data:
    all_keys.update(item.keys())

# Check if all items have the same keys
same_fields = True
missing_fields = {}

for i, item in enumerate(data):
    item_keys = set(item.keys())
    if item_keys != all_keys:
        same_fields = False
        missing = all_keys - item_keys
        extra = item_keys - all_keys
        if missing or extra:
            missing_fields[i] = {
                'missing': list(missing),
                'extra': list(extra)
            }

print(f"All items have same fields: {same_fields}")
print(f"Total unique fields found: {len(all_keys)}")
print(f"All fields: {sorted(all_keys)}")

if not same_fields:
    print(f"\nItems with different fields: {len(missing_fields)}")
    for idx, differences in list(missing_fields.items())[:5]:  # Show first 5 examples
        print(f"Item {idx}: missing={differences['missing']}, extra={differences['extra']}")

All items have same fields: True
Total unique fields found: 10
All fields: ['annual_salary_expectation', 'education', 'email', 'location', 'name', 'phone', 'skills', 'submitted_at', 'work_availability', 'work_experiences']

In [9]:
df = pd.DataFrame(data)
df.columns

Index(['name', 'email', 'phone', 'location', 'submitted_at',
       'work_availability', 'annual_salary_expectation', 'work_experiences',
       'education', 'skills'],
      dtype='object')

In [ ]:
df['work_experiences'][0]

{'company': 'StarLab Digital Ventures', 'roleName': 'Full Stack Developer'}

In [10]:
df.head()

,name,email,phone,location,submitted_at,work_availability,annual_salary_expectation,work_experiences,education,skills
0,Clever Monkey,clever-monkey@example.com,5582981474204,Maceió,2025-01-28 09:02:16.000000,"[full-time, part-time]",{'full-time': '$117548'},"[{'company': 'StarLab Digital Ventures', 'role...","{'highest_level': 'Bachelor's Degree', 'degree...","[Data Analysis, Docker, Microservices]"
1,Noble Flamingo,noble-flamingo@example.com,12156688210,Philadelphia,2025-01-26 07:40:39.000000,"[full-time, part-time]",{'full-time': '$112253'},[{'company': 'Intellectual Asset Management Gr...,"{'highest_level': 'Juris Doctor (J.D)', 'degre...",[]
2,Noble Antelope,noble-antelope@example.com,8801993762548,Bangladesh,2025-01-28 07:29:47.000000,"[full-time, part-time]",{'full-time': '$63556'},"[{'company': 'Red.Digital', 'roleName': 'Softw...","{'highest_level': 'Bachelor's Degree', 'degree...","[Laravel, Next JS, React, React Native, Redux,..."
3,Unique Platypus,unique-platypus@example.com,55118120974,Brazil,2025-01-28 23:29:29.000000,"[full-time, part-time]",{'full-time': '$143487'},"[{'company': 'Autônomo', 'roleName': 'Backend ...","{'highest_level': 'Bachelor's Degree', 'degree...","[Amazon Web Services, Python, Flask, Agile, RE..."
4,Clever Jellyfish,clever-jellyfish@example.com,54169018596,Argentina,2025-01-29 03:45:30.000000,"[full-time, part-time]",{'full-time': '$120152'},"[{'company': 'Ituran de Argentina', 'roleName'...","{'highest_level': 'Bachelor's Degree', 'degree...","[JavaScript, Arduino, Amazon Web Services, Azu..."

In [13]:
df.to_csv("/Users/ayushmunot/MercorTest/form-submissions.csv", index=False)

## Feature Engineering

In [14]:
df.isna().sum()

name                           0
email                          0
phone                        160
location                       0
submitted_at                   0
work_availability              0
annual_salary_expectation      0
work_experiences               0
education                      0
skills                         0
dtype: int64

In [21]:
df.columns

Index(['name', 'email', 'phone', 'location', 'submitted_at',
       'work_availability', 'annual_salary_expectation', 'work_experiences',
       'education', 'skills'],
      dtype='object')

In [20]:
print("Unique values in 'location':")
print(df['location'].unique())

# print("\nUnique values in 'work_availability':")
# print(df['work_availability'].unique())

print("\nUnique values in 'annual_salary_expectation':")
print(df['annual_salary_expectation'].unique())

print("\nUnique values in 'education':")
print(df['education'].unique())

print("\nUnique values in 'skills':")
print(df['skills'].unique())

Unique values in 'location':
['Maceió' 'Philadelphia' 'Bangladesh' 'Brazil' 'Argentina' 'Laguna'
 'Manizales' 'UK' 'Maracay' 'Kingston' 'Spain' 'Hydrabad' 'United States'
 'Rio de Janeiro' 'Amman' 'Bogotá' 'Colombia' 'Medellín' 'Timișoara'
 'Caba' 'Italy' 'Posadas' 'London' 'Mendoza' 'Mirzapur' 'Pelotas'
 'Salvador' 'Rosario' 'Villa Pueyrredon' 'Brasil' 'Malvern' 'Quilmes'
 'Ecuador' 'Nigeria' 'Pakistan' 'Buffalo' 'Viet Nam' 'Seattle' 'CD Juárez'
 'Wichita Falls' 'Luneburg' 'Ingolstadt' 'Troy' 'Porto Alegre' 'Canada'
 'Richmond' 'Southbank' 'San Nicolas de los Garza' '' 'Nashville' 'Russia'
 'New Brunswick' 'Barrie' 'Boulogne Sur Mer' 'São Paulo' 'AZ' 'Lahore'
 'Broxburn' 'Ho Chi Minh City' 'Anápolis' 'Mexico' 'Maputo' 'Curitiba'
 'Vila Velha' 'Cologne' 'Santa Catarina' 'Erlangen' 'Malaysia' 'Mobile'
 'Brossard' 'Craiova' 'Ottumwa' 'Romania' 'Butantã' 'Chandler' 'España'
 'Aracaju' 'Germany' 'Calgary' 'Southampton' 'Valencia' 'Sacramento'
 'San Jose' 'Phoenix' 'Indonesia' 'Bogota' 'JUAREZ' 'Portugal' 'Harrison'
 'Santa Fe' 'Belo Horizonte' 'Montreal' 'Bucharest' 'BR' 'Lima'
 'Ciudad de México' 'Tuscaloosa' 'Venezuela' 'Surrey' 'Vancouver'
 'Uruguay' 'Mozambique' 'Dunedin' 'Teodoro Sampaio' 'Durham' 'Saskatoon'
 'Covina' 'Castelar' 'Perú' 'Toronto' 'Peru' 'Emeryville' 'Sudao' 'Dhaka'
 'Chihuahua' 'Casey' 'Parets del Valles' 'Düsseldorf' 'BC' 'Geneva'
 'Dubai' 'IN' 'Pune' 'Kalamazoo' 'United Kingdom' 'Bengaluru'
 'Campina Grande' 'Hixson' 'Albania' 'Padova' 'Enta Nord' 'Tirana'
 'Versalles' 'Alcindo Dell’agnese' 'Paulínia' 'Uberlândia' 'Egypt'
 'New Cairo' 'Santiago de Queretaro' 'Waikkala' 'Minna' 'Poland' 'Chicago'
 'Chapecó' 'Reid' 'United Arab Emirates' 'Buenos Aires' 'Sao Carlos'
 'Nassarawa' 'Recife' 'Londrina' 'Brasilia' 'Timisoara' 'Point Cook'
 'Campos dos Goytacazes' 'Tucumán' 'Araxá' 'Blumenau' 'Gurugram' 'CA'
 'Montevideo' 'Campinas' 'Commerce Township' 'Irvine' 'Cascavel' 'Boston'
 'Berlin' 'Southgate' 'UAE' 'Asunción' 'Totowa' 'Raleigh' 'Gravatai'
 'Georgetown' 'CABA' 'Turkey' 'Pasadena' 'Uttara' 'Sydney' 'Orlando'
 'San Fransisco Bay Area' 'Melbourne' 'Bangkok'
 'San Nicolás de los Arroyos' 'Puteaux' 'Corrientes' 'Houston' 'Sao Luis'
 'Esteio' 'Kandy' 'Joinville' 'Fremont' 'Federal District' 'Canonsburg'
 'Sunbury-on-Thames' 'Mokopane' 'Hamilton' 'US' 'São José' 'Kampala'
 'Godoy Cruz' 'Santiago' 'Vietnam' 'Mexico City' 'Sorocaba' 'Ukraine'
 'San Miguel de Tucumán' 'Monte Grande' 'Babolsar' 'Divinopolis' 'Olinda'
 'Kirkland' 'Mauritius' 'Atlanta' 'Bloomington' 'Fredericton' 'Guayaquil'
 'Valparaíso de Goiás' 'Bratislava' 'Benalmádena' 'New York City' 'India`'
 'New York' 'San Diego' 'Ribeirão Pires' 'Rio Cuarto' 'Juiz de Fora'
 'Montenegro' 'Alberta' 'Goiânia' 'Brooklyn' 'Salto' 'Konstanz'
 'Pueblo Nuevo' 'Fort Smith' 'Alexandria' 'Austin' 'Colombo' 'Olavarría'
 'Pontevedra' 'Santo Domingo Este' 'Costa Rica' 'Araras' 'Chile'
 'Milton Keynes' 'Warsaw' 'San Juan de Miraflores' 'Itajaí' 'Sao Paulo'
 'Croatia' 'Quebec' 'Hermosillo' 'Brasília' 'Kuala Lumpur' 'Astoria'
 'Australia' 'Ha Noi' 'Chisinau' 'Santa Mônica' 'Guelph' 'Denver' 'Goiana'
 'Lomas de Zamora' 'Tallinn' 'Virginia' 'Lagos' 'Madison'
 'Antiguo Cuscatlán' 'Mazatlán' 'Texas' 'Santo Andre' 'Bulgaria'
 'San Sebastian de los Reyes' 'Greece' 'Haíti' 'Cairo' 'Ribeirao Preto'
 'Jordan' 'Temple' 'Jersey City' 'Tempe' 'Saenz Peña' 'Cumming'
 'Charlottesville' 'Ribeirão Preto' 'Tacna' 'Sta Fe' 'Aix-en-Provence'
 'Artesia' 'Delta' 'Renton' 'Stuttgart' 'Budapest' 'South Weber'
 'Mota del Cuervo' 'Auburn, AL' 'Florianopolis' 'Augsburg' 'Miami'
 'Tehran' 'Rwanda' 'Monterrey' 'Cachoeiro de Itapemirim' 'Oak Park'
 'Jakarta' 'Glendale' 'Napoleon' 'Oceanside' 'Winchester' 'Cedar Hill'
 'Sofia' 'Abu Dhabi' 'NC' 'Berkeley' 'Roslyn' 'Philippines' 'FL'
 'Austin, TX' 'Winnipeg' 'Palatine' 'Cincinnati' 'Guanajuato' 'Toledo'
 'Miami Beach' 'Raleigh-Durham-Chapel Hill Area' 'Cluj-Napoca' 'Serbia'
 'Lansing' 'Cracow' 'Drexel Hill' 'Washington' 'Morón' 'Kenya' 'Laredo'
 'Ghana' 'Panama City' 'Roswell' 'Reed City' 'Camarillo' 'Nairobi'
 'Dallas' 'Durango' 'Manila' 'Boynton Beach' 'Hurlingham' 'Fairview'
 'Fortaleza' 'Los Angeles Metropolitan Area' 'Hartford' 'Pretoria'
 'Bom Jardim' 'Palo Alto' 'Leander' 'Baton Rouge' 'Charlotte' 'Tampa'
 'Bangalore' 'Tokyo' 'LA' 'Providence' 'Irving' 'Villa Nueva'
 'Amuwo Odofin' 'Salta' 'Chelsea' 'Rosharon' 'Matosinhos' 'USA'
 'Joaquim Távora' 'Itaberá' 'München' 'Mar del Plata' 'Tamilnadu' 'Ohio'
 'San Francisco Bay Area' 'Eusébio' 'Yerevan' 'Broomfield' 'Lisbon'
 'Victoria' 'Cumilla' 'Nutley' 'Sunnyvale' 'Los Angeles' 'The Randstad'
 'Azerbaijan' 'Netherlands' 'San Pablo City' 'Centro – Arraial D’ Ajuda'
 'Pinhais' 'Palma De Mallorca' 'MN' 'Guatemala' 'Corinto' 'Santo André'
 'São José do Rio Preto' 'Doha' 'Ongole' 'São Bernardo do Campo'
 'Guadalajara' 'San Francisco' 'Contagem' 'GBA' 'Columbia' 'Granada'
 'San Juan' 'Córdoba' 'Roseville' 'Thuwal' 'Istanbul'
 'North Richland Hills' 'Benidorm' 'College Park' 'Moknine' 'Maringa']

Unique values in 'annual_salary_expectation':

TypeError: unhashable type: 'dict'